trunk/src/cws/SAP R3 Connector/Web Files/BAC/sap/wsdl/MethodSetSAPSchema2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MethodSetSAPSchema2_0" targetNamespace="http://schemas.cordys.com/2.0/SAPSchema" xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.cordys.com/2.0/SAPSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.cordys.com/2.0/SAPSchema" xmlns:cordys="http://schemas.cordys.com/General/1.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.cordys.com/2.0/SAPSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.cordys.com/General/1.0/"/>
            <xsd:include schemaLocation="sapschema2.xsd"/>
            <xsd:element name="SearchObject" type="tns:ctSearchObject" />
            <xsd:element name="SearchObjectResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="tuple">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="old">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="1" minOccurs="1" name="sapobject" type="tns:ctSAPObject"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GenerateMethods" type="tns:ctGenerateMethods" />
			<xsd:element name="GenerateMethodsResponse" type="tns:ctGenerateMethodResponse" />
        
            <xsd:complexType name="ctSearchObject">
            	<xsd:all>
            		<xsd:element name="type" type="tns:stObjectType"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="read_from_sap" type="xsd:boolean" default="false" maxOccurs="1" minOccurs="1"/>
            		<xsd:element name="filters" type="tns:ctFilters"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:all>
            </xsd:complexType>
        
            <xsd:complexType name="ctFilters">
            	<xsd:sequence>
            		<xsd:element ref="tns:filter" maxOccurs="unbounded" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ctGenerateMethods">
				<xsd:sequence>
					<xsd:element name="type" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="BAPI"></xsd:enumeration>
								<xsd:enumeration value="RFC"></xsd:enumeration>
								<xsd:enumeration value="IDOC"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="businessobject_mestype"
						type="xsd:string" maxOccurs="1" minOccurs="0" />


					<xsd:element name="interfacename" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="namespace" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="operations"
						type="tns:ctOperations" maxOccurs="1" minOccurs="1" />

				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ctOperations">
				<xsd:sequence>
					<xsd:element name="operation" maxOccurs="unbounded"
						minOccurs="1" type="tns:ctOperation" />
				</xsd:sequence>

			</xsd:complexType>
            
            <xsd:complexType name="ctGenerateMethodResponse">
				<xsd:sequence>
					<xsd:element name="wsdl" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="realizations" type="tns:ctRealizations" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="ctRealizations">
				<xsd:sequence>
					<xsd:element name="realization" maxOccurs="unbounded" minOccurs="1">
						<xsd:complexType mixed="true">
							<xsd:attribute name="operation"
								type="xsd:string">
							</xsd:attribute>
						</xsd:complexType></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="ctOperation" mixed="true">
				<xsd:attribute name="servicename" type="xsd:string" use="optional"></xsd:attribute>
				<xsd:attribute name="cimtype" type="xsd:string" use="optional"></xsd:attribute>
			</xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.cordys.com/General/1.0/" xmlns:cordys="http://schemas.cordys.com/General/1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="FaultDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="cordys:LocalizableMessage"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType mixed="true" name="NestedMessage">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="LocalizableMessage">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" name="MessageCode" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Insertion" type="cordys:NestedMessage"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="LocalizableMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MessageCode" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Insertion" type="cordys:NestedMessage"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
	<wsdl:message name="GenerateMethodsInput">
		<wsdl:part name="body" element="tns:GenerateMethods" />
	</wsdl:message>
	<wsdl:message name="GenerateMethodsOutput">
		<wsdl:part name="body" element="tns:GenerateMethodsResponse" />
	</wsdl:message>
    <wsdl:message name="SearchObjectRequest">
        <wsdl:part element="tns:SearchObject" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SearchObjectResponse">
        <wsdl:part element="tns:SearchObjectResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WSI_SAP_SCHEMA_2_PORT_TYPE">
        <wsdl:operation name="SearchObject">
            <wsdl:input message="tns:SearchObjectRequest"/>
            <wsdl:output message="tns:SearchObjectResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GenerateMethods">
			<wsdl:input message="tns:GenerateMethodsInput" />
			<wsdl:output message="tns:GenerateMethodsOutput" />
		</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSI_SAP_SCHEMA_2" type="tns:WSI_SAP_SCHEMA_2_PORT_TYPE">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SearchObject">
            <soap:operation soapAction="http://schemas.cordys.com/2.0/SAPSchema/SearchObject"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GenerateMethods">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPMethodPublish/GenerateMethods" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomService">
        <wsdl:port binding="tns:WSI_SAP_SCHEMA_2" name="CustomPort">
            <soap:address location="com.eibus.web.soap.Gateway.wcp"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
