trunk/src/cws/SAP R3 Connector/Web Files/BAC/sap/wsdl/Method Set SAP Publish.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="Services_Cordys_SAP_MethodPublish" targetNamespace="http://schemas.cordys.com/1.0/SAPMethodPublish"
	xmlns:tns="http://schemas.cordys.com/1.0/SAPMethodPublish" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:cordys="http://schemas.cordys.com/General/1.0/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.cordys.com/1.0/SAPMethodPublish"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://schemas.cordys.com/1.0/SAPMethodPublish">
			<xsd:import namespace="http://schemas.cordys.com/General/1.0/" />
			<xsd:element name="GenerateMethods" type="tns:ctGenerateMethods" />
			<xsd:element name="GenerateMethodsResponse"
				type="tns:ctGenerateMethodResponse" />
			<xsd:element name="PublishBAPI" type="tns:ctPublushBAPI" />
			<xsd:complexType name="ctPublushBAPI">
				<xsd:sequence>
					<xsd:element name="methodSet" type="xsd:string" />
					<xsd:element name="namespace" type="xsd:string" />
					<xsd:element name="isNew" type="xsd:string" />
					<xsd:element name="SOAPNodeDN" type="xsd:string" />
					<xsd:element name="BO" type="xsd:string" />
					<xsd:element name="BAPI" type="xsd:string" />
					<xsd:element name="RFM" type="xsd:string" />
					<xsd:element name="organization" type="xsd:string" />
					<xsd:element name="overwrite" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="PublishBAPIResponse" type="xsd:string" />
			<xsd:element name="PublishRFC" type="tns:ctPublishRFC" />
			<xsd:element name="PublishRFCResponse" type="p:string" />
			<xsd:element name="PublishIDOC">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PublishIDOCResponse" type="p:string" />
			<xsd:complexType name="ctGenerateMethods">
				<xsd:sequence>
					<xsd:element name="type" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="BAPI"></xsd:enumeration>
								<xsd:enumeration value="RFC"></xsd:enumeration>
								<xsd:enumeration value="IDOC"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="businessobject_mestype"
						type="xsd:string" maxOccurs="1" minOccurs="0" />

					<xsd:element name="interfacename" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="namespace" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="operations"
						type="tns:ctOperations" maxOccurs="1" minOccurs="1" />

				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ctOperations">
				<xsd:sequence>
					<xsd:element name="operation" maxOccurs="unbounded"
						minOccurs="1" type="tns:ctOperation" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ctPublishRFC">
				<xsd:sequence>
					<xsd:element name="methodSet" type="xsd:string"></xsd:element>
					<xsd:element name="namespace" type="xsd:string"></xsd:element>
					<xsd:element name="isNew" type="xsd:boolean"></xsd:element>
					<xsd:element name="attachToSOAPNode" type="xsd:boolean">
					</xsd:element>
					<xsd:element name="SOAPNodeDN" type="xsd:string"></xsd:element>
					<xsd:element name="RFM" type="xsd:string"></xsd:element>
					<xsd:element name="organization" type="xsd:string">
					</xsd:element>
					<xsd:element name="overwrite" type="xsd:boolean"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="ctGenerateMethodResponse">
				<xsd:sequence>
					<xsd:element name="wsdl" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="realizations" type="tns:ctRealizations" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="ctRealizations">
				<xsd:sequence>
					<xsd:element name="realization" maxOccurs="unbounded" minOccurs="1">
						<xsd:complexType mixed="true">
							<xsd:attribute name="operation"
								type="xsd:string">
							</xsd:attribute>
						</xsd:complexType></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="ctOperation" mixed="true">
				<xsd:attribute name="servicename" type="xsd:string" use="optional"></xsd:attribute>
				<xsd:attribute name="cimtype" type="xsd:string" use="optional"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:cordys="http://schemas.cordys.com/General/1.0/"
			targetNamespace="http://schemas.cordys.com/General/1.0/"
			elementFormDefault="qualified">
			<xsd:element name="FaultDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cordys:LocalizableMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="NestedMessage" mixed="true">
				<xsd:sequence minOccurs="0">
					<xsd:element name="LocalizableMessage">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="1" maxOccurs="1" name="MessageCode"
									type="xsd:string" />
								<xsd:element minOccurs="0" maxOccurs="unbounded"
									name="Insertion" type="cordys:NestedMessage" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="LocalizableMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="MessageCode"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="Insertion"
							type="cordys:NestedMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GenerateMethodsInput">
		<wsdl:part name="body" element="tns:GenerateMethods" />
	</wsdl:message>
	<wsdl:message name="GenerateMethodsOutput">
		<wsdl:part name="body" element="tns:GenerateMethodsResponse" />
	</wsdl:message>
	<wsdl:message name="PublishBAPIRequest">
		<wsdl:part name="body" element="tns:PublishBAPI"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PublishBAPIResponse">
		<wsdl:part name="body" element="tns:PublishBAPIResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PublishRFCRequest">
		<wsdl:part name="body" element="tns:PublishRFC"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PublishRFCResponse">
		<wsdl:part name="body" element="tns:PublishRFCResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PublishIDOCRequest">
		<wsdl:part name="body" element="tns:PublishIDOC"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PublishIDOCResponse">
		<wsdl:part name="body" element="tns:PublishIDOCResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WebServiceInterface4SAPMethodPublish">
		<wsdl:operation name="GenerateMethods">
			<wsdl:input message="tns:GenerateMethodsInput" />
			<wsdl:output message="tns:GenerateMethodsOutput" />
		</wsdl:operation>
		<wsdl:operation name="PublishBAPI">
			<wsdl:input message="tns:PublishBAPIRequest"></wsdl:input>
			<wsdl:output message="tns:PublishBAPIResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishRFC">
			<wsdl:input message="tns:PublishRFCRequest"></wsdl:input>
			<wsdl:output message="tns:PublishRFCResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishIDOC">
			<wsdl:input message="tns:PublishIDOCRequest"></wsdl:input>
			<wsdl:output message="tns:PublishIDOCResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WebServiceInterface4SAPMethodPublish"
		type="tns:WebServiceInterface4SAPMethodPublish">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GenerateMethods">

			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPMethodPublish/GenerateMethods" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishBAPI">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPMethodPublish/PublishBAPI" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishRFC">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPMethodPublish/PublishRFC" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PublishIDOC">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPMethodPublish/PublishIDOC" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomService">
		<wsdl:port name="CustomPort" binding="tns:WebServiceInterface4SAPMethodPublish">
			<soap:address location="com.eibus.web.soap.Gateway.wcp" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>