src/cws/SAP R3 Connector/Web Files/bac/sap/wsdl/Method Set SAP Schema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="MethodSetSAPSchema" targetNamespace="http://schemas.cordys.com/1.0/SAPSchema"
	xmlns:tns="http://schemas.cordys.com/1.0/SAPSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:cordys="http://schemas.cordys.com/General/1.0/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.cordys.com/1.0/SAPSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://schemas.cordys.com/1.0/SAPSchema">
			<xsd:import namespace="http://schemas.cordys.com/General/1.0/" />
			<xsd:element name="GetComponents" type="tns:ctGetComponents" />
			<xsd:element name="GetComponentsResponse" type="tns:ctGetComponentsResponse" />

			<xsd:complexType name="ctGetComponents">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="parent" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="level" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctGetComponentsResponse">
				<xsd:sequence>
					<xsd:element name="tuple" maxOccurs="unbounded"
						minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="old" maxOccurs="1" minOccurs="1">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Components" type="tns:ctAny">
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctAny">
				<xsd:sequence>
					<xsd:any processContents="skip" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetBOs" type="tns:ctGetBOs">

			</xsd:element>
			<xsd:element name="GetBOsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BusinessObjects" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetBOs">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="fromBO" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="toBO" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetBAPIs" type="tns:ctGetBAPIs">

			</xsd:element>
			<xsd:element name="GetBAPIsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="BAPIs" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetBAPIs">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="BO" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetIDOCInterface" type="tns:ctGetIDOCInterface">

			</xsd:element>
			<xsd:element name="GetIDOCInterfaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" type="tns:ctAny" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetIDOCInterface">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="IDOCType" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="CIMType" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetIDOCMessageTypes" type="tns:ctGetIDOCMessageTypes">

			</xsd:element>
			<xsd:element name="GetIDOCMessageTypesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="MessageTypes" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetIDOCMessageTypes">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="fromMSGTYPE" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="toMSGTYPE" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetIDOCTypesForMesType" type="tns:ctGetIDOCTypesForMesType">

			</xsd:element>
			<xsd:element name="GetIDOCTypesForMesTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="IDOCTypes" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetIDOCTypesForMesType">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="MESTYPE" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetMappedRFC" type="tns:ctGetMappedRFC">

			</xsd:element>
			<xsd:element name="GetMappedRFCResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="IDOCTypes" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetMappedRFC">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean"
						default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="BAPIName" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="ObjectType" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetRFCInterface" type="tns:ctGetRFCInterface">

			</xsd:element>
			<xsd:element name="GetRFCInterfaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="IDOCTypes" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ctGetRFCInterface">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean" default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RFCName" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="LoadComponentMetadata"/>
			<xsd:element name="LoadComponentMetadataResponse"/>
			<xsd:element name="LoadBOMetadata"/>
			<xsd:element name="LoadBOMetadataResponse"/>
			<xsd:element name="LoadRFCMetadata"/>
			<xsd:element name="LoadRFCMetadataResponse"/>
			<xsd:element name="LoadIDOCMetadata"/>
			<xsd:element name="LoadIDOCMetadataResponse"/>
			<xsd:element name="GetRFCs" type="tns:ctGetRFCs">
			</xsd:element>
			<xsd:element name="GetRFCsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tuple" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="old" maxOccurs="1" minOccurs="1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="RFCs" type="tns:ctAny">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="ctGetRFCs">
				<xsd:sequence>
					<xsd:element name="overwrite" type="xsd:boolean" default="true" minOccurs="0" maxOccurs="1" />
					<xsd:element name="fromRFC" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="toRFC" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:cordys="http://schemas.cordys.com/General/1.0/"
			targetNamespace="http://schemas.cordys.com/General/1.0/"
			elementFormDefault="qualified">
			<xsd:element name="FaultDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cordys:LocalizableMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="NestedMessage" mixed="true">
				<xsd:sequence minOccurs="0">
					<xsd:element name="LocalizableMessage">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="1" maxOccurs="1" name="MessageCode"
									type="xsd:string" />
								<xsd:element minOccurs="0" maxOccurs="unbounded"
									name="Insertion" type="cordys:NestedMessage" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="LocalizableMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="MessageCode"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="Insertion"
							type="cordys:NestedMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetComponentsInput">
		<wsdl:part name="body" element="tns:GetComponents" />
	</wsdl:message>
	<wsdl:message name="GetComponentsOutput">
		<wsdl:part name="body" element="tns:GetComponentsResponse" />
	</wsdl:message>
	<wsdl:message name="GetBOsRequest">
		<wsdl:part name="body" element="tns:GetBOs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetBOsResponse">
		<wsdl:part name="body" element="tns:GetBOsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetBAPIsRequest">
		<wsdl:part name="body" element="tns:GetBAPIs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetBAPIsResponse">
		<wsdl:part name="body" element="tns:GetBAPIsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCInterfaceRequest">
		<wsdl:part name="body" element="tns:GetIDOCInterface"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCInterfaceResponse">
		<wsdl:part name="body" element="tns:GetIDOCInterfaceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCMessageTypesRequest">
		<wsdl:part name="body" element="tns:GetIDOCMessageTypes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCMessageTypesResponse">
		<wsdl:part name="body" element="tns:GetIDOCMessageTypesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCTypesForMesTypeRequest">
		<wsdl:part name="body" element="tns:GetIDOCTypesForMesType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetIDOCTypesForMesTypeResponse">
		<wsdl:part name="body" element="tns:GetIDOCTypesForMesTypeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetMappedRFCRequest">
		<wsdl:part name="body" element="tns:GetMappedRFC"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetMappedRFCResponse">
		<wsdl:part name="body" element="tns:GetMappedRFCResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRFCInterfaceRequest">
		<wsdl:part name="body" element="tns:GetRFCInterface"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRFCInterfaceResponse">
		<wsdl:part name="body" element="tns:GetRFCInterfaceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadComponentMetadataRequest">
		<wsdl:part name="body" element="tns:LoadComponentMetadata"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadComponentMetadataResponse">
		<wsdl:part name="body" element="tns:LoadComponentMetadataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadBOMetadataRequest">
		<wsdl:part name="body" element="tns:LoadBOMetadata"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadBOMetadataResponse">
		<wsdl:part name="body" element="tns:LoadBOMetadataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadRFCMetadataRequest">
		<wsdl:part name="body" element="tns:LoadRFCMetadata"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadRFCMetadataResponse">
		<wsdl:part name="body" element="tns:LoadRFCMetadataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadIDOCMetadataRequest">
		<wsdl:part name="body" element="tns:LoadIDOCMetadata"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoadIDOCMetadataResponse">
		<wsdl:part name="body" element="tns:LoadIDOCMetadataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRFCsRequest">
		<wsdl:part name="body" element="tns:GetRFCs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRFCsResponse">
		<wsdl:part name="body" element="tns:GetRFCsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WSI_SAP_SCHEMA_PORT_TYPE">
		<wsdl:operation name="GetComponents">
			<wsdl:input message="tns:GetComponentsInput" />
			<wsdl:output message="tns:GetComponentsOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetBOs">
			<wsdl:input message="tns:GetBOsRequest"></wsdl:input>
			<wsdl:output message="tns:GetBOsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBAPIs">
			<wsdl:input message="tns:GetBAPIsRequest"></wsdl:input>
			<wsdl:output message="tns:GetBAPIsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCInterface">
			<wsdl:input message="tns:GetIDOCInterfaceRequest"></wsdl:input>
			<wsdl:output message="tns:GetIDOCInterfaceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCMessageTypes">
			<wsdl:input message="tns:GetIDOCMessageTypesRequest"></wsdl:input>
			<wsdl:output message="tns:GetIDOCMessageTypesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCTypesForMesType">
			<wsdl:input message="tns:GetIDOCTypesForMesTypeRequest"></wsdl:input>
			<wsdl:output message="tns:GetIDOCTypesForMesTypeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMappedRFC">
			<wsdl:input message="tns:GetMappedRFCRequest"></wsdl:input>
			<wsdl:output message="tns:GetMappedRFCResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRFCInterface">
			<wsdl:input message="tns:GetRFCInterfaceRequest"></wsdl:input>
			<wsdl:output message="tns:GetRFCInterfaceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadComponentMetadata">
			<wsdl:input message="tns:LoadComponentMetadataRequest"></wsdl:input>
			<wsdl:output message="tns:LoadComponentMetadataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadBOMetadata">
			<wsdl:input message="tns:LoadBOMetadataRequest"></wsdl:input>
			<wsdl:output message="tns:LoadBOMetadataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadRFCMetadata">
			<wsdl:input message="tns:LoadRFCMetadataRequest"></wsdl:input>
			<wsdl:output message="tns:LoadRFCMetadataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadIDOCMetadata">
			<wsdl:input message="tns:LoadIDOCMetadataRequest"></wsdl:input>
			<wsdl:output message="tns:LoadIDOCMetadataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRFCs">
			<wsdl:input message="tns:GetRFCsRequest"></wsdl:input>
			<wsdl:output message="tns:GetRFCsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WSI_SAP_SCHEMA"
		type="tns:WSI_SAP_SCHEMA_PORT_TYPE">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetComponents">

			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetComponents" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBOs">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetBOs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBAPIs">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetBAPIs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCInterface">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetIDOCInterface" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCMessageTypes">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetIDOCMessageTypes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIDOCTypesForMesType">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetIDOCTypesForMesType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMappedRFC">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetMappedRFC" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRFCInterface">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetRFCInterface" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadComponentMetadata">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/LoadComponentMetadata" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadBOMetadata">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/LoadBOMetadata" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadRFCMetadata">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/LoadRFCMetadata" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LoadIDOCMetadata">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/LoadIDOCMetadata" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRFCs">
			<soap:operation
				soapAction="http://schemas.cordys.com/1.0/SAPSchema/GetRFCs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomService">
		<wsdl:port name="CustomPort" binding="tns:WSI_SAP_SCHEMA">
			<soap:address location="com.eibus.web.soap.Gateway.wcp" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>